</br>
</br>

<!-- Index des Moussaillons -->
<h1>Ici vous êtes sur l'index ou vous pouvez retrouver tout les profiles de corsaires</h1>
<table>
  <tr>

    <!-- Initiation d'un tableau -->
    <th>Prénom - </th>
    </br>
    <th>- Age</th>
  </tr>
 
  <% @corsairs.each do |corsair| %> 
    <tr>
      <td><%= corsair.first_name %></td></br>


      <td><%= corsair.age %></td></br>
<!--CRUD -->

      <td><%= link_to "Afficher profil", corsair_path(corsair) %> - </td> 

      <td><%= link_to "Editer", edit_corsair_path(corsair) %> - </td></br>



      <td> - <%= link_to "Delete & Bye bye", corsair_path(corsair),
              method: :delete,
              data: { confirm: 'do you want to delete ?' } %> </td></br>

    </tr>
  <% end %>
</table>

<p> <%= link_to('Créez un nouveau profile', new_corsair_path ) %> </p> 
